/* Base styles*/

:root {
  --background-image-color: rgba(20, 20, 20, 0.1);
  --image-font-color: #fff;
  --background-form-color: #707070;
  --form-font-color: #eee;
  --background-main-color: #000;
  --primary-font-color: #000;
  --valid-form-color: #00aa00;
  --invalid-form-color: #f00;
  --focused-form-color: rgb(0, 102, 255);
  --hovered-button-color: #aaa;

}

.container {
  width: 1366px;
  height: 768px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Background image section styles */

.bg-image {
  background-image: url("../assets/bg.jpg");
  background-color: transparent;
  background-size: 100% 100%;
  width: 40%;
  height: 100%;
}

/* "Domino Tournament" area styles */
.logo-area {
  display: flex;
  background-color: var(--background-image-color);
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20vh;
}

/* Domino logo size */
img {
  width: 20%;
  height: 20%;
}

#domino, #tournament {
  font-family: odin-font;
  font-size: 32pt;
  color: var(--image-font-color);
}

/* Form section styles */
.right-side {
  width: 60%;
  height: 100%;
}

/* Top paragraphs styles */
.paragraph {
  font-size: 2rem;
  margin: 3rem;
  text-align: justify;
}

.one {
  margin-top: 3rem;
}

/* Registration h2 styles */
h2 {
  padding-top: 3rem;
  padding-left: 3rem;
  font-size: 2.5rem;
  background-color: var(--background-form-color);
  color: var(--form-font-color);
}

/* Form styles */
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
  background-color: var(--background-form-color);
  color: var(--form-font-color);
  gap: 25px;
  box-shadow: 5px 5px 3px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.75rem;
}

input {
  width: 250px;
  height: 25px;
  border-radius: 5px;
}

input:invalid {
  border-color: var(--invalid-form-color);
}

input:focus{
  outline-color: var(--focused-form-color);
}

/* Submit button styles */
button[type = 'submit'] {
  background-color: var(--background-form-color);
  color: var(--form-font-color);
  margin: 3rem;
  margin-top: 5rem;
  border-radius: 5px;
  width: 25%;
  height: 5%;
}

button[type = 'submit']:hover {
  background-color: var(--hovered-button-color);
  color: var(--primary-font-color)
}

/* "Already have an account?" styles */
.account {
  margin-left: 3rem;
  font-size: 1.25rem;
}